In [5]:
import google.generativeai as palm
import os

# temprature is the randomness of the output, 0.2 is the default value
palm.configure(api_key="AIzaSyCVeFW87-H5c32e4i0E8KRJ7jgnDOR5lIY")

In [ ]:
response = palm.generate_text(prompt="Write a short joke")
print(response.result) #  'cold.'

In [16]:
pre_prompt = "you are a person which classify the input of user into 6 catagories  \
    After categorization tou should return a key-value pair json according to catagories and there answer\
    In category 1 it will identify that the input is a general greeting question you should answer the greet so you will return answer having key-value pair category number, reply to user's greeting \
    In category 2 it will identify that the input is an type of enquiry about we offer discounts or not so you will return ans having key-value pair category number, reply to user's enquiry \
    In category 3 you will identify weather user is asking about some products which are on discounts so you will return ans having key-value pair category number,discount ,product name \
    In category 4 you will identify weather user is asking about some products which are on under some so you will return ans having key-value pair category  number, price , product name\
    In category 5 you will identify weather user is asking about some products only so you will return ans having keys category number, suggested product name\
    In category 6 it will identify that the input is a irrelevant  question you should answer the i could not understand so you will return answer having key-value pair category number, reply to user\
    Don't mention that you are not a fashion recommender specialist as it is already assumed.\
    "
pre_prompt+=" User: pants under 500"
response = palm.generate_text(prompt=pre_prompt,temperature=0.2)
import json
import re

string = response.result
pattern = r'\{.*?\}'
# print(string)
try:
    match = re.search(pattern, string)
    dictionary_string = match.group()
    dictionary = eval(dictionary_string)
    print(dictionary)
except:
    print("Sorry, Unable to process your request. Please try again.")

{'category': 4, 'price': 500, 'product_name': 'pants'}

In [15]:
import pandas as pd

df = pd.read_csv('data/finaldata.csv')
df1 = pd.read_csv('data/styles.csv', on_bad_lines='skip')

In [18]:
df.shape

(74640, 7)

In [17]:
df1.shape

(44424, 10)

In [8]:
df.head()

,id,productDisplayName,price,ogprice,discount,filename,link
0,60001,SPARKLIZA Men Black Genuine Leather Belt,237.0,2300.0,89.0,60001.jpg,https://rukminim2.flixcart.com/image/612/612/x...
1,60002,SPARKLIZA Men Formal Black Genuine Leather Belt,237.0,1450.0,83.0,60002.jpg,https://rukminim2.flixcart.com/image/612/612/x...
2,60003,METRONAUT Men Casual Black Artificial Leather ...,149.0,1199.0,87.0,60003.jpg,https://rukminim2.flixcart.com/image/612/612/x...
3,60004,"Roadster Men Formal, Casual, Party Black Artif...",179.0,1499.0,88.0,60004.jpg,https://rukminim2.flixcart.com/image/612/612/x...
4,60005,"ZORO Men Evening, Party, Formal, Casual Black ...",299.0,1499.0,80.0,60005.jpg,https://rukminim2.flixcart.com/image/612/612/x...

In [23]:
df.drop_duplicates(subset='productDisplayName', keep='first', inplace=True)
df.to_csv('data/test.csv', index=False)

In [20]:
df1.drop_duplicates(subset='productDisplayName', keep='first', inplace=True)

In [10]:
df.shape

(47857, 7)

In [21]:
df1.shape

(31122, 10)

In [8]:
# open file
import pandas as pd
import pickle
f = pd.read_csv("data/test.csv")

with open('data/filenames.pkl', 'rb') as file:
    pkl = pickle.load(file)

In [5]:
f.head()

,id,productDisplayName,price,ogprice,discount,filename,link
0,60001,SPARKLIZA Men Black Genuine Leather Belt,237.0,2300.0,89.0,60001.jpg,https://rukminim2.flixcart.com/image/612/612/x...
1,60002,SPARKLIZA Men Formal Black Genuine Leather Belt,237.0,1450.0,83.0,60002.jpg,https://rukminim2.flixcart.com/image/612/612/x...
2,60003,METRONAUT Men Casual Black Artificial Leather ...,149.0,1199.0,87.0,60003.jpg,https://rukminim2.flixcart.com/image/612/612/x...
3,60004,"Roadster Men Formal, Casual, Party Black Artif...",179.0,1499.0,88.0,60004.jpg,https://rukminim2.flixcart.com/image/612/612/x...
4,60005,"ZORO Men Evening, Party, Formal, Casual Black ...",299.0,1499.0,80.0,60005.jpg,https://rukminim2.flixcart.com/image/612/612/x...

In [36]:
product = f[f['id'] == 66065]

In [37]:
product.head()

,id,productDisplayName,price,ogprice,discount,filename,link
3787,66065,Wrangler Men Solid Bomber Jacket,1597.0,3999.0,60.0,66065.jpg,https://rukminim2.flixcart.com/image/612/612/k...

In [31]:
df = pd.DataFrame(pkl)
df.head()

                  0
0   images/9733.jpg
1  images/14147.jpg
2  images/52112.jpg
3   images/6400.jpg
4  images/34297.jpg

In [38]:
df.shape

(44441, 1)

In [39]:
f.shape

(47857, 7)

In [15]:
df1 = pd.read_csv("data/finaldata.csv")
df2 = pd.read_csv("data/styles.csv",on_bad_lines='skip')

In [16]:
df1.head()

,id,productDisplayName,price,ogprice,discount,filename,link
0,60001,SPARKLIZA Men Black Genuine Leather Belt,237.0,2300.0,89.0,60001.jpg,https://rukminim2.flixcart.com/image/612/612/x...
1,60002,SPARKLIZA Men Formal Black Genuine Leather Belt,237.0,1450.0,83.0,60002.jpg,https://rukminim2.flixcart.com/image/612/612/x...
2,60003,METRONAUT Men Casual Black Artificial Leather ...,149.0,1199.0,87.0,60003.jpg,https://rukminim2.flixcart.com/image/612/612/x...
3,60004,"Roadster Men Formal, Casual, Party Black Artif...",179.0,1499.0,88.0,60004.jpg,https://rukminim2.flixcart.com/image/612/612/x...
4,60005,"ZORO Men Evening, Party, Formal, Casual Black ...",299.0,1499.0,80.0,60005.jpg,https://rukminim2.flixcart.com/image/612/612/x...

In [17]:
df2.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [18]:
df2 = df2.merge(df1[['id', 'price', 'discount', 'ogprice','filename','link']], on='id', how='left')

In [19]:
df2.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,price,discount,ogprice,filename,link
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,1263.0,21.0,1599.0,15970.jpg,http://assets.myntassets.com/v1/images/style/p...
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,1457.0,46.0,2699.0,39386.jpg,http://assets.myntassets.com/v1/images/style/p...
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,1217.0,42.0,2099.0,59263.jpg,http://assets.myntassets.com/v1/images/style/p...
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,1217.0,42.0,2099.0,21379.jpg,http://assets.myntassets.com/v1/images/style/p...
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,1690.0,11.0,1899.0,53759.jpg,http://assets.myntassets.com/v1/images/style/p...

In [20]:
df2.to_csv('data/imagedata.csv', index=False)